/* Body Styles */

body, html {
  height: 100vh;
  width: 100%;
  font-family: 'Quicksand', sans-serif;
  color: white;
  overflow: hidden;
}

/* CLASS STYLES */

/* Background */
.background-wrapper {
  background-image: url("images/man-mountains-travel-compressed.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: invert(12%);
}

/* Intro Section */
.jumbotron {
  background-color: transparent;
  margin-bottom: 0;
  /* flex-direction: column; */
}

.jumbotron h1 {
  letter-spacing: 6px;
}

.lead {
  font-size: 1.3rem !important;
}

.list-group-item {
  background-color: transparent !important;
  border: 1px solid rgba(255, 255, 255, 0.6) !important;
}

.custom {
  font-size: 2rem !important;
  width: 160px !important;
}

.fullpagecontainer {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.testbuttoncontainer {
  display: flex;
  justify-content: space-evenly;

}

.wrapjumbobutton {

 display: flex;

 align-items: center;

 justify-content: center;

 flex-direction: column;
 height: 60%;

}

/* Modals */
.modal-content {
  background-color: #1d271c;

}

.close,
.btn-secondary {
  color: white;
  background-color: transparent;
}

.close:hover {
  color: white;
}

/* Icons */
.mail-icon::before {
  content: url("images/email.svg");
}

.phone-icon::before {
  content: url("images/phone.svg");
}

.github-icon::before {
  content: url("images/github-icon.svg");
}

.linkedin-icon::before {
  content: url("images/linkedin-logo.svg")
}

/* Footer */
footer {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.3rem;
  background-color: #1d271c;
  opacity: 0.8;
  width: 100%;
}

footer span {
  display: flex;
  align-items: center;
}

footer span::before {
  padding-right: 10px;
}

footer span a  {
  color: inherit;
}

footer span a:hover {
  color: inherit;
}

/* Media Queries */

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
