/*   Base Styles  */

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-image: url("images/man_mountains.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*   Header Styles  */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 130px;
  padding-bottom: 15px;
}

header h1 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 55px;
  letter-spacing: 18px;
  text-shadow: 1px 1px 4px black;
}

/*   Navigation Styles  */

li {
  list-style: none;
}

li a {
  color: inherit;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 75px;
  padding-bottom: 310px;
}

nav ul {
  display: flex;
}

nav ul li {
  padding-right: 40px;
}


nav ul li a {
  font-size: 25px;
  letter-spacing: 6px;
  color: inherit;
  border: 1px solid white;
  padding: 10px;


}

/*   Footer Styles  */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer ul {
  display: flex;
}

footer ul li {
  padding-right: 70px;
}

footer ul li a {
  font-size: 25px;
  font-weight: 100;

}

/*   Class Styles  */


.container-info-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  margin-left: 600px;
  margin-right: 600px;
}

.container-info-box h2 {
  font-size: 28px;
  font-weight: 100;
  letter-spacing: 8px;
  text-shadow: 1px 1px 4px black;
  color: inherit;
}


#linked-in::before {
  content: url("images/linkedin-logo.svg")


}

#git-hub::before {
  content: url("images/github-icon.svg")

}
